<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="firstName" value="Nitin" />
      <add key="lastName" value="Jindal" />
      <add key="emailId" value="nitinjindal45@gmail.com" />
      <add key="password" value="Nitin123" />
      <add key="passwordConfirmation" value="Nitin123" />
      <add key="newPassword" value="Xgfrg121" />
      <add key="babyName" value="John" />
      <add key="loginId" value="jindaln@gmail.com" />
      <add key="loginPassword" value="Xgfrg120" />
   </appSettings>
</configuration>
